<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Database Information Display</title>
        <link rel="stylesheet" href="style.css" />
        <base href="http://127.0.0.1:5000/" />
        <script
            src="https://unpkg.com/htmx.org@1.9.8"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"
        ></script>
    </head>
</head>
<body>
    <div class="query-group">
        <button hx-get="/employees-by-manager/JohnDoe?html=true" hx-target="#data-container">
            Get Employees by Manager (HTML)
        </button>
        <button hx-get="/employees-by-manager/JohnDoe?html=false" hx-target="#data-container">
            Get Employees by Manager (JSON)
        </button>
        <input type="text" class="parameter-input" placeholder="Manager Name" />
        <button>Query</button>
    </div>

    <div class="query-group">
        <button hx-get="/employees-by-dept/IT/2023-03-01?html=true" hx-target="#data-container">
            Get Employees by Dept (HTML)
        </button>
        <button hx-get="/employees-by-dept/IT/2023-03-01?html=false" hx-target="#data-container">
            Get Employees by Dept (JSON)
        </button>
        <input type="text" class="parameter-input" placeholder="Department Name" />
        <input type="text" class="parameter-input" placeholder="Date (YYYY-MM-DD)" />
        <button>Query</button>
    </div>

    <div class="query-group">
        <button hx-get="/avg-salary-by-dept/IT?html=true" hx-target="#data-container">
            Get Avg Salary by Dept (HTML)
        </button>
        <button hx-get="/avg-salary-by-dept/IT?html=false" hx-target="#data-container">
            Get Avg Salary by Dept (JSON)
        </button>
        <input type="text" class="parameter-input" placeholder="Department Name" />
        <button>Query</button>
    </div>

    <div id="data-container">
        <!-- Data will be loaded here -->
    </div>
</body>
</html>
